*{
    margin: 0;
    padding:0;
}

body{
    font-family: Arial, sans-serif;
    background-color: black !important;
}

header{
    background-color: grey;
    color: white;
    text-align: center;
    padding: 1em;
}
.text-titulo{
    margin-top: 10px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
}

.img-perfil{
    width: 10%;
    border-radius: 50%;
}

.conteudo{
    width: 100% !important;
    background-color: white;
    padding: 2em !important;
    margin-top: 1em !important;
    border-radius: 2em !important;
}

.principal{
    text-align: center !important;
    margin-left: 25% !important;
    margin-right: 25% !important;
    margin-top: 5% !important;
    margin-bottom: 15% !important;
}

.img-icone{
    width: 100% !important;
    margin-top: 4px;
    margin-right: 2em;
}

.txt-icone{
    font-size: 200% !important;
    margin-top: 1em;
}

a{
    text-decoration: none !important;
    color: black !important;
}

@media (min-width: 200px) and (max-width: 768px){
    .img-icone{
        width: 200% !important;
        margin-top: 45%; 
    }
    .txt-icone{
        font-size: 200% !important;
    }
    .conteudo{
        width: 130% !important;
        background-color: white !important;
        padding: 1em !important;
        margin-top: 2em !important;
        border-radius: 1em !important;
    }
    .principal{
        text-align: center !important;
        margin-left: 10% !important;
        margin-right: 25% !important;
        margin-top: 1% !important;
        margin-bottom: 15% !important;
    }
    .img-perfil{
        width: 30%;
        border-radius: 50%;
    }
}

.miltonian-regular {
    font-family: "Miltonian", serif;
    font-weight: 400;
    font-style: normal;
  }
  